
:root {

    --cor-linha-menu: #007AFF;
    --tamanho-texto: 1rem;

    --largura-estatistica: 21rem;
    --altura-estatistica: 6.25rem;

    --cor-atividades-recentes: #F3D29E;

}


.profile-main-content {

    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 90%;
    margin-inline: auto;
    height:50%;
}
.menu-stats {

    width: 100%;
    margin-block: 24rem 0;

}
.borda {
    
    border-radius:20px 20px 0 0;
}

.conteudo-perfil {
    
    min-height: .625rem;
    max-height: 28.5625rem;
    background-color: #fff;
    overflow-y: scroll;
    margin-inline: auto;
    border-radius: 0px 0px 20px 20px;
    scrollbar-width: none;
}

.lista-conquistas {

    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    padding-block: 2rem;
}

.lista-conquistas::-webkit-scrollbar,
.lista-insignias::-webkit-scrollbar,
.lista-estatisticas::-webkit-scrollbar {

    display: none;
}

.lista-insignias {

    grid-template-columns: repeat(2, 7rem);
    grid-auto-rows: 5rem;
    justify-content: center;
    padding-block: 1rem;
    row-gap: 3rem;
    column-gap: 3rem;
}

.insignia {

    width: 7em;
    height: 5rem;
    background-color: aquamarine;
}

.lista-estatisticas {

    display: grid;
    grid-template-columns: var(--largura-estatistica);
    grid-template-rows: auto 1fr;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
}

.status {

    width:var(--largura-estatistica);
    min-height: var(--altura-estatistica);
    background-color: aqua;
    
}

.atividades-recentes {
    width:var(--largura-estatistica);
    min-height: var(--altura-estatistica);
    background-color: var(--cor-atividades-recentes);
    flex-direction: column;
    gap: 1.625rem;
    padding: 1rem;
}

@media (min-width: 801px){

    :root {

        --largura-estatistica: 63rem;
        --altura-estatistica: 20rem;
    }


    .profile-main-content{
        
        width: 80% !important;
        margin-block: 2% !important;
        margin-inline: 18% !important;
    }

    .conteudo-perfil {
        max-height: 38rem;
    }

    .menu-stats {

        margin-block: 0rem 1rem;
       
    }

    .lista-insignias {

        grid-template-columns: repeat(4, 15rem);
        grid-auto-rows: 8rem;
        justify-content: center;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .insignia {
        width: 15rem;
        height: 8rem;
        background-color: aquamarine;
    }

    .lista-estatisticas {

        display: grid;
        grid-template-columns: var(--largura-estatistica);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        padding: 1rem;
        gap: 1.5rem;
    }

    .status {

        width:var(--largura-estatistica);
        min-height: var(--altura-estatistica);
        background-color: aqua;
        
    }

    .atividades-recentes {
        width:var(--largura-estatistica);
        min-height: var(--altura-estatistica);
        gap: 2rem;
    }

    @media (max-width: 991px) {
        
        .profile-main-content{
        
        width: 70% !important;
        margin-block: 2% !important;
        margin-inline: 23% 7% !important;
    }
    }

    
}

@media (min-aspect-ratio: 4/3) and (max-width: 1000px){

    :root {

    --cor-linha-menu: #007AFF;
    --tamanho-texto: 1rem;

    --largura-estatistica: 21rem;
    --altura-estatistica: 6.25rem;

    --cor-atividades-recentes: #F3D29E;

    }
    .profile-main-content {
        
        width: 100%;
        margin-block: calc(15dvh + 2rem) !important;
        margin-inline: 2rem;
    }

    .menu-stats {

        margin: 0;
    }

    .profile-main-content .conteudo-perfil{

            overflow-y: scroll;

    }

     .lista-insignias {

        grid-template-columns: repeat(1, 12rem);
        grid-auto-rows: 8rem;
        justify-content: center;
        row-gap: 1rem;
        column-gap: 3rem;
    }

    .insignia {

        width: 12rem;
        height: 8rem;
        background-color: aquamarine;
    }

    .borda {
        
        border-radius:20px 20px 0 0;
    }

    .conteudo-perfil {
        
        min-height: .625rem;
        background-color: #fff;
        overflow-y: scroll;
        border-radius: 0px 0px 20px 20px;
        scrollbar-width: none;
        max-height: 30rem;
        
    }

    .lista-conquistas {

        flex-direction: column;
        gap: 2rem;
        overflow-y: scroll;
        padding-block: 2rem;
    }

    .lista-conquistas::-webkit-scrollbar,
    .lista-insignias::-webkit-scrollbar,
    .lista-estatisticas::-webkit-scrollbar {

        display: none;
    }

    .lista-insignias {

        grid-template-columns: repeat(2, 7rem);
        grid-auto-rows: 5rem;
        justify-content: center;
        padding-block: 1rem;
        row-gap: 3rem;
        column-gap: 3rem;
    }

    .insignia {

        width: 7em;
        height: 5rem;
        background-color: aquamarine;
    }

    .lista-estatisticas {

        display: grid;
        grid-template-columns: var(--largura-estatistica);
        grid-template-rows: auto 1fr;
        justify-content: center;
        padding: 1rem;
        gap: 1.5rem;
    }

    .status {

        width:var(--largura-estatistica);
        min-height: var(--altura-estatistica);
        background-color: aqua;
        
    }

    .atividades-recentes {
        width:var(--largura-estatistica);
        min-height: var(--altura-estatistica);
        background-color: var(--cor-atividades-recentes);
        flex-direction: column;
        gap: 1.625rem;
        padding: 1rem;
    }
   
}



/* @media (max-width: 800px){

    :root {

        --largura-estatistica: 63rem;
        --altura-estatistica: 20rem;
    }

    main {
         margin-block: 20rem; 
    }

    .lista-insignias {

        grid-template-columns: repeat(4, 15rem);
        grid-auto-rows: 8rem;
        justify-content: center;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .insignia {
        width: 15rem;
        height: 8rem;
        background-color: aquamarine;
    }

    .lista-estatisticas {
        display: grid;
        grid-template-columns: var(--largura-estatistica);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        padding: 1rem;
        gap: 1.5rem;
    }

    .status {

        width:var(--largura-estatistica);
        min-height: var(--altura-estatistica);
        background-color: aqua;
        
    }

    .atividades-recentes {
        width:var(--largura-estatistica);
        min-height: var(--altura-estatistica);
        background-color: red;
        gap: 2rem;
    }

    
} */
