:root{

    --cor-menu-inferior: linear-gradient(90deg, #FC8657 0%, #FF3353 100%);
}

.menu-inferior {

    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 300px;
    background: var(--cor-menu-inferior);
    width: 100%;
    height: 4rem;

}

.menu-inferior .item-menu img {

    height: 3.125rem;
    width: 3.125rem;
} 

@media (max-width: 768px) {
    .menu-inferior {
        height: 3.5rem;
    }

    .menu-inferior .item-menu img {
        height: 2.5rem;
        width: 2.5rem;
    }

}